body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1045_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  background:inherit;
  background-color:rgba(246, 246, 248, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  display:flex;
}
#u1045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:528px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:134px;
  width:358px;
  height:528px;
  display:flex;
  font-family:"思源黑体", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u1046 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1047_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:328px;
  height:49px;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:560px;
  width:320px;
  height:41px;
  display:flex;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1047 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#121735;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.error {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#121735;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#121735;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.error.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.error.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#121735;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_input.error.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:center;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u1048_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:500px;
  width:320px;
  height:44px;
  display:flex;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1048_div.error {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 0, 1);
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.error {
}
#u1048_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.hint {
}
#u1048_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.disabled {
}
#u1048_div.error.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 0, 1);
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.error.hint {
}
#u1048_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.hint.disabled {
}
#u1048_div.error.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 0, 1);
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.error.disabled {
}
#u1048_div.error.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(254, 0, 0, 1);
  border-radius:870px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#121735;
  text-align:center;
}
#u1048.error.hint.disabled {
}
#u1049_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"苹方 中黑体", "苹方 常规体", "苹方", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#858A9D;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:679px;
  width:52px;
  height:18px;
  display:flex;
  font-family:"苹方 中黑体", "苹方 常规体", "苹方", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:13px;
  color:#858A9D;
}
#u1049 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1049_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"苹方 细体", "苹方 常规体", "苹方", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#868992;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:707px;
  width:353px;
  height:30px;
  display:flex;
  font-family:"苹方 细体", "苹方 常规体", "苹方", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#868992;
}
#u1050 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"苹方 细体", "苹方 常规体", "苹方", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#868992;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:761px;
  width:353px;
  height:34px;
  display:flex;
  font-family:"苹方 细体", "苹方 常规体", "苹方", sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:10px;
  color:#868992;
}
#u1051 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:114px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  -webkit-box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  box-shadow:0px 1px 4px rgba(0, 0, 0, 0.09803921568627451);
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:114px;
  display:flex;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1053_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"苹方 中黑体", "苹方 常规体", "苹方", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#121735;
  text-align:center;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:59px;
  width:140px;
  height:28px;
  display:flex;
  font-family:"苹方 中黑体", "苹方 常规体", "苹方", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#121735;
  text-align:center;
}
#u1053 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:68px;
  width:25px;
  height:14px;
  display:flex;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u1054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:208px;
  height:302px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:170px;
  width:200px;
  height:294px;
  display:flex;
}
#u1055 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:14px;
  width:6px;
  height:6px;
  display:flex;
}
#u1058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:14px;
  width:6px;
  height:6px;
  display:flex;
}
#u1059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:14px;
  width:6px;
  height:6px;
  display:flex;
}
#u1060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:14px;
  width:6px;
  height:6px;
  display:flex;
}
#u1061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:34px;
  top:14px;
  width:6px;
  height:6px;
  display:flex;
}
#u1062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1063_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"阿里巴巴普惠体 2.0 55", "阿里巴巴普惠体 2.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:7px;
  width:56px;
  height:18px;
  display:flex;
  font-family:"阿里巴巴普惠体 2.0 55", "阿里巴巴普惠体 2.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1063 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:11px;
  width:16px;
  height:12px;
  display:flex;
}
#u1064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"阿里巴巴普惠体 2.0 55", "阿里巴巴普惠体 2.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:7px;
  width:60px;
  height:18px;
  display:flex;
  font-family:"阿里巴巴普惠体 2.0 55", "阿里巴巴普惠体 2.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1065 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"阿里巴巴普惠体 2.0 55", "阿里巴巴普惠体 2.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:7px;
  width:60px;
  height:18px;
  display:flex;
  font-family:"阿里巴巴普惠体 2.0 55", "阿里巴巴普惠体 2.0", sans-serif;
  font-weight:400;
  font-style:normal;
}
#u1067 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:12px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:10px;
  width:26px;
  height:12px;
  display:flex;
}
#u1069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:8px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:12px;
  width:21px;
  height:8px;
  display:flex;
}
#u1070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1071 {
  position:absolute;
  left:161px;
  top:620px;
}
#u1071_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:68px;
  height:18px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1071_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868992;
  text-align:center;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
  display:flex;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#868992;
  text-align:center;
}
#u1072 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1072_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:3px;
  width:8px;
  height:13px;
  display:flex;
}
#u1073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:58px;
  background:inherit;
  background-color:rgba(58, 58, 58, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FAF6F6;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:437px;
  width:186px;
  height:58px;
  display:flex;
  opacity:0.45;
  font-family:"苹方 常规体", "苹方", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#FAF6F6;
}
#u1074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
